body {
  background-color: antiquewhite;
}

.Authtab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.auth-tab {
  /* height: 75vh; */
  width: 35vw;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px;
}

.login-title {
  text-align: center;
  padding: 15px;
}
